*{
    margin: 0; padding: 0;
}

body{
    width: 100%; height: 100vh; color: #fff;
}


.container{
    width: 100%; height: 100vh;
    display: flex; flex-direction: column; 
    background: #000; overflow: hidden;
    
}

.pages input{
    display: none;
}

.pages input:nth-child(1):checked ~ .labels label:nth-child(1){ 
    opacity: 1; width: 50px;
}

.pages input:nth-child(2):checked ~ .labels label:nth-child(2){ 
    opacity: 1; width: 50px;
}

.pages input:nth-child(3):checked ~ .labels label:nth-child(3){ 
    opacity: 1; width: 50px;
}


.labels{
    position: absolute; bottom: 40px; left: 50%; 
    transform: translateX(-50%); display: flex; flex-direction:row;
    gap: 10px; z-index: 10;
}

.labels label{
    opacity: 0.4; background: #fff; border: none; cursor: pointer; 
    width: 20px; height: 20px; border-radius: 20px;
}

.wrapper{
    position: relative; transition: 0.5s;
    display: flex; width: 300vw;
}

.wrapper .box{
    display: flex; flex-direction: column; justify-content: center;
    align-items: center; width: 100vw; height: 100vh;
    z-index: 1;
}

.wrapper .box:nth-child(1){
    background: linear-gradient(to right, #e44d26, #f16529);
}

.wrapper .box:nth-child(2){
    background: linear-gradient(to right, #0575e6, #021b79);
}

.wrapper .box:nth-child(3){
    background: linear-gradient(to right, #ffe000, #799f0c);
}

#html:checked ~ .wrapper{
    transform: translateX(0);
}

#css:checked ~ .wrapper{
    transform: translateX(-100vw);
}

#js:checked ~ .wrapper{
    transform: translateX(-200vw);
}

.btn{
    outline: none;
    border: none; border-radius: 20px; padding: 10px 25px; font-size: 18px; cursor: pointer;
}

.content{
    width: 700px; text-align: center; color: #fff;
}

.icon{
    font-size: 150px; margin-bottom: 20px;
}

.content h2{
    font-size: 42px; margin-bottom: 20px;
}

.content p{
    margin-bottom: 20px; text-align: justify;
}